a {
    color: rgb(40, 46, 82);
}
a:hover {
    color: rgb(122, 125, 128);
}

.read-box p:hover {
    box-shadow: 3px 3px 8px 3px rgba(40, 48, 122, 0.548);
}

.read-box p {
    border-radius: 5px;
}

.portfolio-font {
    font-family: 'Josefin Sans', sans-serif;
  font-size: 200px;
  color: rgba(27, 72, 194, 0.25);
}

.portfolio-font2 {
    font-family: 'Josefin Sans', sans-serif;
  font-size: 80px;
  color: rgb(59, 60, 65);
}

.body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    color: rgb(40, 46, 82);
}

.body1 {
    font-size: 12px;
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(40, 46, 82);
  }

  .body2 {
    font-size: 12px;
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(16, 8, 37);
  }

  .body3 {
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
    color: rgba(100, 56, 14, 0.733);
  }

  .contactsection-font {
    font-size: 18px;
    color: rgb(40, 46, 82);
    font-family: 'Josefin Sans', sans-serif;

  }

  .footer {
    background-color: #8b52fe8f !important;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  button {
    background-color: rgb(40, 46, 82) !important;;
    color: white !important;
  }
  
  button:hover {
    background-color: #8b52fe8f !important;
  }

.title {
    font-family: 'Moul', cursive;
    font-size: 55px;
    color: rgb(40, 46, 82);
}

.sub-title {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    color: rgb(40, 46, 82);
}

.section-title {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 65px;
    color: rgb(40, 46, 82);
}
.img-wrap {
    overflow: hidden;
    position: relative;
  }
  
  .img-bg {
    opacity: 0.4;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
  }

  .contact-box {
    border: 2px solid;
    border-color: #8b52fe8f !important;
    font-size: 15px;
  }

  .contact-bg {
    opacity: 0.30;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
  }

  .contact-content {
    position: relative;
    height: 100px;
  }

  .contact-content2 {
    position: relative;
    height: 750px;
  }

  .contactsection-box {
    border: 5px solid;
    border-color: #8b52fe8f !important;
    font-size: 18px;
  }

  .profileimg {
    border-radius: 80px;
    height: 5vw;
    width: 5vw;
  }

  .options-box {
    border-color: rgb(40, 46, 82);
    font-size: 12px;
    border-radius: 25px;
    box-shadow: 3px 3px 8px rgba(27, 34, 100, 0.432);
  }

  .options-box a {
    color: rgba(89, 114, 182, 0.829);
  }

  .services {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    color: rgb(95, 96, 100);
  }

  .design-col {
    background-color: rgba(93, 111, 189, 0.459);
    border-radius: 25px;
  }

  .design-col2 {
    background-color: rgba(93, 146, 189, 0.459);
    border-radius: 25px;
  }

  .design-col:hover {
    background-color: rgba(187, 192, 212, 0.658);
  }

  .design-col2:hover {
    background-color: rgba(187, 192, 212, 0.658);
  }

  .portfolio-bg {
    background-image: url("https://webneel.com/wallpaper/sites/default/files/images/08-2013/15-beach-sand-starfish-wallpaper.jpg");
  }

  

.parentclass {
    height: 200px;
}

.firstchild {
    bottom: 0;
    left: 0;
    right: 0;
}

.childclass {
    position: absolute;
    height: 106px;
}

.shadow {
    text-shadow: 2px 2px 5px rgb(27, 34, 100);
}

.table-img1 {
    width: 20vw;
    height: 20vw;
    margin: 2vw;
    display: block;
}

.table-img2 {
    width: 20vw;
    height: 20vw;
    margin: 2vw;
    display: block;
}

.table-img3 {
    width: 20vw;
    height: 20vw;
    margin: 2vw;
    display: block;
}

.table-img4 {
    width: 20vw;
    height: 20vw;
    margin: 2vw;
    display: block;
}

td {
    width: 20vw;
}

.blog-img {
    height: 14vw;
    width: 23vw;
    border-radius: 20px;
}

.blog-date-box {
    background-color: rgba(118, 124, 129, 0.336);
    border-radius: 10px;
}

.logo-img {
    height: 22vh;
    width: 12vw;
    position: absolute;
    top: -1em;
}